# Device
import /init.recovery.selinux.rc

# ConfigFS
on init
    setprop sys.usb.configfs 1

# ADB
on boot
    setprop sys.usb.config adb

# TEE storage
on fs
    mkdir /persist 0755 root root
    mount ext4 /dev/block/by-name/persist /persist noatime nosuid nodev noauto_da_alloc nodelalloc commit=1
    mkdir /mnt/vendor/persist 0755 root root
    mount none /persist /mnt/vendor/persist bind
    mkdir /mnt/vendor/persist/data 0755 system system
    mkdir /mnt/vendor/persist/fdsd 0755 system system
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/haptics 0755 system system
    chmod 0660 /dev/tee0
    chown system system /dev/tee0
    chmod 0660 /dev/teepriv0
    chown system system /dev/teepriv0
    chmod 0660 /dev/rpmb0
    chown system system /dev/rpmb0
    chmod 0660 /dev/0:0:0:49476
    chown system system /dev/0:0:0:49476
    chmod 0660 /dev/ufs-bsg0
    chown system system /dev/ufs-bsg0
    chmod 0660 /dev/p73
    chown nfc nfc /dev/p73
    trigger mt6991-tee-start

on mt6991-tee-start
    start tee-supplicant
    # Stock init marker; this does not assert that Binder services are ready.
    setprop vendor.teefs_state ready

# eSE clients
on property:init.svc.vendor.secure_element_hal_service=running && property:vendor.teefs_state=ready
    start vendor.weaver_nxp
    start se_omapi

import /init.recovery.dali.rc
