# Keystore
on late-init
    start keystore2

service keystore2 /system/bin/keystore2 /tmp/misc/keystore
    class early_hal
    user root
    group keystore readproc log
    task_profiles ProcessCapacityHigh
    rlimit memlock unlimited unlimited
    seclabel u:r:recovery:s0
