# Partition aliases
service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    seclabel u:r:recovery:s0
    oneshot
    disabled

# Preloader aliases
on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b
    symlink /dev/block/by-name/lk1 /dev/block/by-name/bootloader1
    symlink /dev/block/by-name/lk2 /dev/block/by-name/bootloader2

# UFS boot0
on property:vendor.mtk.boot0_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot0

on property:vendor.mtk.boot0_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot0

on property:vendor.mtk.boot0_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot0

# UFS boot1
on property:vendor.mtk.boot1_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot1

on property:vendor.mtk.boot1_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot1

on property:vendor.mtk.boot1_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot1
